@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes aura-rainbow {
  from {
    transform: translateY(var(--aura-rainbow-offset)) rotate(0deg);
  }

  to {
    transform: translateY(var(--aura-rainbow-offset)) rotate(-360deg);
  }
}

.auraMask {
  mask-image: radial-gradient(farthest-side at center -100%, #000, transparent);
}

.auraRaysMask {
  mask-image: linear-gradient(
      50deg,
      transparent 32%,
      #000 36%,
      transparent 38%,
      rgb(0 0 0 / 75%) 43%,
      transparent 47%,
      transparent 51%,
      rgb(0 0 0 / 50%) 54%,
      transparent 56%,
      #000 62%,
      rgb(0 0 0 / 35%) 65%,
      rgb(0 0 0 / 75%) 66%,
      transparent 71%
    ),
    linear-gradient(0deg, transparent 20%, rgb(0 0 0 / 60%));
  mask-position:
    60% 0%,
    0% 0%;
  mask-size:
    300% auto,
    auto;

  @media (min-width: 640px) {
    /* sm breakpoint */
    mask-size:
      200% auto,
      auto;
  }

  @media (min-width: 768px) {
    /* md breakpoint */
    mask-position:
      50% 0%,
      0% 0%;
    mask-size:
      110% auto,
      auto;
  }
}

.auraRainbowGradient {
  background: conic-gradient(
    theme('colors.red.500'),
    theme('colors.pink.500'),
    theme('colors.violet.500'),
    theme('colors.blue.500'),
    theme('colors.sky.500'),
    theme('colors.teal.500'),
    theme('colors.lime.500'),
    theme('colors.amber.500'),
    theme('colors.red.500')
  );
  animation: 8s linear infinite aura-rainbow;

  :global(.dark) & {
    background: conic-gradient(
      theme('colors.red.300'),
      theme('colors.pink.300'),
      theme('colors.violet.300'),
      theme('colors.blue.300'),
      theme('colors.sky.300'),
      theme('colors.teal.300'),
      theme('colors.lime.300'),
      theme('colors.amber.300'),
      theme('colors.red.300')
    );
  }
}

.progress {
  width: 18px;
  height: 64px;
  animation: progress-sze6ck 2s infinite backwards;
  background: linear-gradient(
    0deg,
    #000000,
    #000000 100%,
    transparent 100%,
    transparent
  );
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border: 2px solid #69ff00;
  border-radius: 16.8px;
}

@keyframes progress-sze6ck {
  0% {
    background-position: 0 0;
    transform: rotate(0deg);
  }

  25% {
    background-position: 0 100%;
    transform: rotate(0deg);
  }

  50% {
    background-position: 0 100%;
    transform: rotate(180deg);
  }

  75% {
    background-position: 0 200%;
    transform: rotate(180deg);
  }

  100% {
    background-position: 0 200%;
    transform: rotate(360deg);
  }
}

.cubic-btn {
  background: #e8ff85;
  outline: none;
  padding-inline: 2rem;
  overflow: hidden;
  transform: scaleX(1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  display: flex;
  align-items: center;
}

.cubic-btn:hover {
  animation: animate-scaleX 0.6s cubic-bezier(0.4, 0, 0, 1);
  cursor: pointer;
  background-color: transparent;
  transition: all 1s cubic-bezier(0.4, 0, 0, 1);
}

.cubic-btn::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #122625;
  transition:
    transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 0 0;
  transform: translateY(100%);
  text-align: center;
}

.cubic-btn:hover::after {
  transform: translateY(0%);
  border-radius: 0;
  text-align: center;
}

.cubic-btn span {
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: #122625;
  font-size: 12px;
  font-weight: 600;
}

.cubic-btn span p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.inner {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
}

.cubic-btn:hover .inner {
  transform: translateY(-100%);
}

.cubic-btn span:after {
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  transform: translate(-50%, 100%);
  color: #e8ff85;
  text-align: center;
}

.cubic-btn:hover span:after {
  transform: translate(-50%, 0);
}

.cubic-btn:focus {
  outline: none;
}

@keyframes animate-scaleX {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.05);
  }

  100% {
    transform: scaleX(1);
  }
}

blockquote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1rem 1rem;
  border-radius: 15px;
  position: relative;
}

blockquote::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 48px;
  height: 48px;
  opacity: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='49' viewBox='0 0 48 49' fill='none'%3E%3Cg opacity='0.09'%3E%3Cpath d='M6.49114 5.58429V5.58617C5.13366 5.58804 4.02553 6.71868 4.04991 8.0743V22.8285V22.8304C4.05179 24.1692 5.15242 25.2698 6.49114 25.2716H6.49302H9.8174C9.63928 26.1454 9.44803 26.9329 9.02992 27.591C8.25553 28.7666 5.93055 30.4673 4.44179 31.0954C3.22868 31.6073 2.63617 33.0116 3.1143 34.2398L5.72617 40.9804C6.22115 42.261 7.70242 42.8892 8.96804 42.3529C8.96992 42.351 8.97179 42.351 8.97367 42.3492C13.8826 40.2154 17.593 36.7936 19.7473 32.2653C21.4366 28.7609 22.3142 25.0053 22.3142 18.1802V8.0719C22.3385 6.72002 21.2342 5.59126 19.8823 5.58377H19.8767L6.49282 5.58189V5.58377H6.49095L6.49114 5.58429ZM29.2235 5.58429C27.866 5.58617 26.7578 6.71868 26.7822 8.07429V22.8285V22.8304C26.7841 24.1692 27.8847 25.2698 29.2235 25.2716H29.2253H32.5516C32.3735 26.1454 32.1803 26.9329 31.7622 27.591C30.9878 28.7666 28.6629 30.4672 27.1741 31.0954C25.9591 31.6072 25.3685 33.0135 25.8485 34.2416L28.4604 40.9804C28.9553 42.261 30.4366 42.8891 31.7022 42.3529C31.7041 42.351 31.706 42.351 31.7079 42.3491C36.6168 40.2154 40.3253 36.7936 42.4815 32.2634C44.1689 28.759 45.0465 25.0034 45.0465 18.1802V8.07184C45.0709 6.71997 43.9684 5.5912 42.6165 5.58372H42.6109L29.227 5.58184L29.2251 5.58372H29.2233L29.2235 5.58429Z' fill='%23e8ff85'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

blockquote strong {
  color: hsl(var(--muted-foreground));
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.08)
  );
}

.dark blockquote strong {
  color: #e8ff85;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.08)
  );
}

blockquote cite {
  color: hsl(var(--muted-foreground));
}

.dark blockquote cite {
  color: #e8ff85;
}

@font-face {
  font-family: 'FoundersGroteskBold';
  src: url('../../public/fonts/FoundersGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.font-founders-bold {
  font-family: 'FoundersGroteskBold', sans-serif;
  font-weight: bold;
}

.star-cta {
  color: #c6fb50;
  width: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
  animation: rotateStar 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite; /* In-Out Quad */
}

@keyframes rotateStar {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(90deg);
  }

  50% {
    transform: rotateZ(180deg);
  }

  75% {
    transform: rotateZ(270deg);
  }

  100% {
    transform: rotateZ(360deg);
  }

  0% {
    transform: rotateZ(0deg);
    transition: transform 0s;
  }
}
