---
import Farhan from "../assets/images/farhan.jpeg";
---

<section
  id="about"
  class="col-span-full global-grid py-48 md:py-96 lg:py-160 space-y-24"
>
  <header class="col-span-full space-y-4 lg:space-y-8 leading-heading">
    <p class="subtext text-14 md:text-16 lg:text-18">i wanna know this guy!</p>
    <h1 class="text-32 md:text-48 lg:text-56 font-black font-sans uppercase">
      about &lt;me/&gt;
    </h1>
  </header>
  <div
    class="col-span-full text-16 leading-normal space-y-16 md:text-18 md:space-y-24 lg:text-20 xl:col-span-6"
  >
    <p>
      I started out as a left brainer and enjoyed coding using <span
        class="font-extrabold">C++</span
      > and <span class="font-extrabold">OOP</span> in the early days of college.
      Couple years later I developed an addiction for web design and I&apos;m enthusiastic
      about making designs look and feel good through front-end development.
    </p>
    <p>
      I have a knack for working with <span class="font-extrabold"
        >design systems</span
      >. Be it designing them from scratch or engineering them with the power of
      SCSS.
    </p>
    <p>
      I&apos;m a cheerful person with decent marketing skills. I fancy teaching
      and learning anything website related. In my spare time, I sleep, drink
      water, and hunt for trophies on my gaming rig.
    </p>
    <p>A brief list of tech goodies I&apos;ve been using:</p>
    <div
      class="space-y-16 flex flex-col text-14 md:text-16 md:flex-row md:space-y-0 md:space-x-64 lg:text-18"
    >
      <div class="space-y-8 flex flex-col">
        <div>
          <span>👨‍🎨</span> Figma
        </div>
        <div>
          <span>👨‍🎨</span> Adobe Xd
        </div>
      </div>
      <div class="space-y-8 flex flex-col">
        <div>
          <span>💻</span> HTML, SCSS, JS
        </div>
        <div>
          <span>💻</span> React, Next.js
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-span-full pt-24 space-y-16 md:pt-40 xl:pt-0 xl:col-start-8 xl:space-y-24"
  >
    <div class="h-[400px] xl:h-[550px]">
      <img
        src={Farhan}
        alt="Baby Muj in the house"
        class="saturate-0 w-full h-full object-cover object-[75%] rounded-12 md:rounded-24 shadow-2xl transition-all duration-200 ease-in-out hover:saturate-100"
      />
    </div>
    <p class="subtext text-center text-12 md:text-14 lg:text-16">
      Couldn&apos;t find a cool photo.
    </p>
  </div>
</section>
